<template>
  <div id="biddingComponent">
    <div class="body">
      <div class="body left">
        <h1 class="title">
          ราคาประมูลสูงสุดขณะนี้
        </h1>
        <label class="price">{{ priceCurrent || 0 | numberComma }} บาท</label>
        <label class="description">ราคาเริ่มประมูล : {{ priceStart || 0 | numberComma }} บาท</label>
        <p style="font-size: 14px; font-weight: 500; margin-top: 16px; margin-bottom: 7px;">
          ประวัติการประมูลล่าสุด
        </p>
        <div v-if="topfive && topfive.length > 0">
          <div v-for="(top, index) in topfive" :key="index" class="description">
            {{ index + 1 }}. {{ top.bidPrice | numberComma }} บาท - {{ top.bidDateTime | timeTh }} , {{ top.bidDateTime | dateTimeTh }}
          </div>
        </div>
        <div v-else style="font-size: 1.2rem; color: #e0e0e0">
          ไม่มีประวัติการประมูล
        </div>
        <label class="description" style="margin-top: 20px;">วันที่เปิดประมูล : {{ biddingAuction && biddingAuction.dateTimeStart || '' | dateTimeTh }}</label>
        <label class="description">วันที่ปิดประมูล : {{ biddingAuction && biddingAuction.dateTimeEnd || '' | dateTimeTh }}</label>
        <label class="description">วันที่เก็บเกี่ยว : {{ expectedHarvestDateTimeStart | dateTimeTh }}</label>
        <a-button
          class="back-button oa-button is-primary is-invert"
          @click="onPreviousState"
        >
          ย้อนกลับ
        </a-button>
      </div>
      <div class="body right">
        <h1 class="title">
          ราคาที่ต้องการประมูล
        </h1>
        <a-input
          disabled
          :value="biddingPrice | numberComma"
          placeholder="ราคา"
          class="price-input"
        />
        <label class="description">เครดิตคงเหลือ : {{ user.guaranteeRemaining || 0 | numberComma }} บาท</label>
        <label class="description">เครดิตที่ใช้ไป : {{ user.guaranteeUsed || 0 | numberComma }} <span style="color: #ff9300;">(+{{ biddingPrice - myCurrentCredit | numberComma }})</span> บาท</label>
        <div class="price-range">
          <a-button
            class="oa-button is-primary is-invert mn-w-unset"
            :style="{ marginRight: '10px' }"
            @click="onAddBidding(1000)"
          >
            + 1,000
          </a-button>
          <a-button
            class="oa-button is-primary is-invert mn-w-unset"
            :style="{ marginRight: '10px' }"
            @click="onAddBidding(5000)"
          >
            + 5,000
          </a-button>
          <a-button
            class="oa-button is-primary is-invert mn-w-unset"
            :style="{ marginRight: '10px' }"
            @click="onAddBidding(10000)"
          >
            + 10,000
          </a-button>
          <a-button
            class="oa-button is-primary is-invert mn-w-unset"
            @click="onAddBidding(50000)"
          >
            + 50,000
          </a-button>
          <a-button
            class="oa-button is-primary is-invert mn-w-unset"
            @click="onAddBidding(100000)"
          >
            + 100,000
          </a-button>
        </div>
        <a-button
          class="oa-button is-primary"
          type="primary"
          style="margin-top: 20px;"
          @click="onBidding"
        >
          ทำการประมูล
        </a-button>
        <span class="remark" style="margin-top: 20px;">* เมื่อทำการกด “ทำการประมูล” ระบบจะทำการส่งรหัส OTP ให้กับเบอร์มือถือที่ท่านลงทะเบียนไว้</span>
        <span class="remark">* รหัส OTP ที่ได้รับ จะนำไปใช้สำหรับการยืนยันการประมูล</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BiddingState',
  props: {
    priceCurrent: Number,
    biddingPrice: Number,
    priceStart: Number,
    expectedHarvestDateTimeStart: String,
    expectedHarvestDateTimeEnd: String,
    topfive: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: () => {}
    },
    biddingAuction: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    myCurrentCredit () {
      const { auctionTransactionAuctionBases } = this.biddingAuction
      if (auctionTransactionAuctionBases && auctionTransactionAuctionBases.length > 0) {
        const transaction = auctionTransactionAuctionBases.find(t => t.bidUser === this.user.id)
        return (transaction && transaction.guaranteePrice) || 0
      }
      return 0
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    onPreviousState () {
      this.$emit('previousState')
    },
    onAddBidding (amount) {
      this.$emit('addBidding', amount)
    },
    onBidding () {
      this.$emit('onBidding')
    }
  }
}
</script>

<style lang="scss" scoped>
.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &.left {
    flex-basis: 35%;
    flex-direction: column;
    border-right: 1px solid rgba(158, 158, 158, 0.4);
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
      border-right: 0;
    }

    .back-button {
      margin-top: 36px;
      @media only screen and (max-width: 768px) {
        margin-top: 15px;
      }
    }
  }
  &.right {
    flex-basis: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
    }
    .price-range {
      margin-top: 20px;
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
        display: flex;
      }

      .white-button {
        @media only screen and (max-width: 768px) {
          width: 100%;
          margin: 0 0 10px 0 !important;
        }
      }
    }

    .price-input {
      margin: 15px 0;
      width: 275px;
      height: 48px;
      text-align:center;
      color: #ff9300;
      font-size: 25px;
      font-weight: 500;
      background-color: white;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.price {
  font-size: 26px;
  font-weight: 500;
  color: #ff9300;
}
.description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
}
.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}

.white-button {
  background-color: #fff;
  border: 1px solid #ffb300;
  color: #FFB300;
  font-size: 16px;
  height: 40px;
}
.remark {
  font-size: 12px;
}
</style>
