<template>
  <base-container>
    <a-card class="policy__container">
      <section class="policy__form">
        <h2 class="policy__title">
          ข้อตกลงการใช้งาน
        </h2>
        <div class="policy__content">
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ข้อกำหนดและเงื่อนไขการใช้บริการของ </strong></span></span><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ที่ให้บริการโดยบริษัท</strong></span></span><strong>.... </strong></p>
          <p><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">และระบบการทำงานทั้งหมดมีลิขสิทธิ์ หากผู้ใดทำการละเมิดลิขสิทธิ์ในการปลอมแปลงหรือดัดแปลงอย่างใดอย่างหนึ่ง หรือนำส่วนใดส่วนหนึ่งไปใช้งานโดยไม่ได้รับการอนุญาต หรือการกระทำใดๆที่กระทำโดยไม่ได้รับอนุญาตจากบุคคลภายในหรือภายนอกก็ดี จะถูกดำเนินคดีทั้งทางแพ่งและอาญา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการตกลงใช้บริการของ </span></span><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">โดยยินยอมที่จะอยู่ภายใต้เงื่อนไขต่างๆ ตามที่บริษัทผู้ให้บริการได้กำหนดไว้ ดังต่อไปนี้</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>คำนิยาม</strong></span></span></p>
          <p>1.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ข้อมูลส่วนบุคคล</strong></span></span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หมายถึง ข้อมูลที่อยู่บนด้านหน้าของบัตรประชาชน</span></span>, <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ทะเบียนบ้าน และ เอกสารอื่นๆที่ทางหน่วยงานรัฐออกให้เพื่อใช้ยืนยันตัวตน</span></span></p>
          <p>1.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ผู้ให้บริการ</strong> หมายถึง บริษัทผู้บริหารจัดการดูแลรับผิดชอบ </span></span><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span></p>
          <p><strong>1.3 </strong><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ผู้ใช้บริการ </strong>หมายถึง ทุกคนที่เข้าใช้บริการและได้ทำการสมัครสมาชิก ลงทะเบียน </span></span>Login Name ,Username ,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">และรหัสผ่าน </span></span>(Password) <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ครบถ้วนแล้ว สำหรับการเข้าสู่ระบบเพื่อขอรับการให้บริการต่างๆของผู้ให้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การใช้และการเก็บรักษารหัสประจำตัว ข้อมูลส่วนบุคคล ของผู้ใช้งาน</strong></span></span></p>
          <p>2.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการจะต้องรักษารหัสประจำตัวที่ใช้เข้าสู่ระบบการทำงาน คือ </span></span>Login Name ,Username , <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">รหัสผ่าน </span></span>(Password) <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">และรหัสที่ได้จากกระบวกการยืนยันตัวตนของระบบ </span></span>PIN &ndash; Person Identification Number <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span></p>
          <p>OTP &ndash; One Time Password <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ให้ปลอดภัย </span></span></p>
          <p>2.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการต้องเก็บรักษาเครื่องมือเพื่อการเข้ารับบริการเป็นอย่างดีในที่ปลอดภัย และผู้ใช้บริการต้องไม่ทำให้เครื่องมือเพื่อการเข้ารับบริการจากตกอยู่ภายใต้การครอบครองของผู้อื่น </span></span></p>
          <p>2.3 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการสามารถเปลี่ยนแปลง ของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username , <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">รหัสผ่าน</span></span>(Password) , PIN &ndash; Person Identification Number <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>OTP &ndash; One Time Password , <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">รหัสที่เกี่ยวข้องกับการเข้าใช้บริการทั้งหมด โดยดำเนินการตามวิธีการและเงื่อนไขตามที่บริษัทได้กำหนดไว้</span></span></p>
          <p>2.4 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">กรณีที่รหัสผ่าน</span></span>(Password) <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรืออุปกรณ์เพื่อการเข้ารับบริการชำรุด</span></span>, <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">เสียหาย หรือถูกโจรกรรม ผู้ใช้บริการต้องแจ้งผู้ให้บริการผ่านช่องทางต่างๆที่ผู้ให้บริการได้กำหนดไว้ เพื่อทำการระงับการใช้งานของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ชั่วคราว เพื่อป้องกันความเสียหายที่จะเกิดขึ้น และรักษาผลประโยชน์ของผู้ใช้บริการเอง</span></span></p>
          <p><br> </p>
          <p><br> </p>
          <p>2.5 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการตกลงยินยอมชำระค่าใช้จ่ายทุกประเภท อันเกี่ยวเนื่องกับการ ขอระงับการใช้งานของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ของผู้ใช้บริการ และขอรหัสผ่าน</span></span>(Password) , PIN &ndash; Person Identification Number <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>OTP &ndash; One Time Password <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ใหม่</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การระงับ และ</strong></span></span><strong>/</strong><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>หรือ ยกเลิกการให้บริการของ </strong></span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นๆ</span></span></p>
          <p>3.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การระงับ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username</p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การขอระงับการใช้งานจะต้องทำผ่านขบวนการขั้นตอนต่างๆที่ผู้ให้บริการได้กำหนดเพื่อยืนยันตัวตนว่าเป็นผู้ใช้บริการที่เป็นเจ้าของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นจริง </span></span></p>
          <p><br> </p>
          <p>3.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การยกเลิก </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username</p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การขอยกเลิกการระงับการใช้งานจะต้องทำผ่านขบวนการขั้นตอนต่างๆที่ผู้ให้บริการได้กำหนดเพื่อยืนยันตัวตนว่าเป็นผู้ใช้บริการที่เป็นเจ้าของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นจริง </span></span></p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>สถานภาพของผู้ใช้บริการ สิทธิและเงื่อนไขต่างๆของแต่ละสถานภาพของผู้ใช้บริการ</strong></span></span></p>
          <p>4.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้สังเกตการณ์ คือ ผู้ใช้บริการที่ยังไม่ได้ทำการลงทะเบียนขอใช้สถานใดๆ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้สังเกตการณ์ มีสิทธิเพียบแค่การสังเกตการณ์ต่างๆ ภายในระบบ เท่าที่ผู้ให้บริการจะอนุญาตให้เข้าถึงข้อมูลนั้นๆ</span></span></p>
          <p>4.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อ คือ ผู้ใช้บริการที่ได้ทำการลงทะเบียนยืนยันขอใช้สถานผู้ซื้อสินค้าและบริการภายในระบบการซื้อขาย ครบถ้วนตามที่กำหนด และได้รับการยืนยัน แล้วเท่านั้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อมีสิทธิที่จะซื้อสินค้าและบริการได้ของผู้ขายรายอื่นภายในระบบเท่านั้น สามารถยกเลิกการซื้อสินค้าและบริการของผู้ซื้อเองได้ตามขั้นตอนและเงื่อนไขที่ระบบกำหนดเท่านั้น การกระทำทั้งหมดจะต้องเกิดขึ้นบนระบบการทำงานบริหารจัดการของผู้ให้บริการเท่านั้น</span></span></p>
          <p>4.3 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขาย คือ ผู้ใช้บริการที่ได้ทำการลงทะเบียนยืนยันขอใช้สถาน ผู้ขายสินค้าและบริการภายในระบบการซื้อขาย ครบถ้วนตามที่กำหนด และได้รับการยืนยัน แล้วเท่านั้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขายมีสิทธิที่จะขายสินค้าและบริการให้กับผู้ซื้อรายอื่นภายในระบบเท่านั้น สามารถยกเลิกการขายสินค้าและบริการของผู้ขายเองได้ตามขั้นตอนและเงื่อนไขที่ระบบกำหนดเท่านั้น</span></span>* <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกระทำทั้งหมดจะต้องเกิดขึ้นบนระบบการทำงานบริหารจัดการของผู้ให้บริการเท่านั้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการสามารถรับสถานภาพ ผู้ซื้อและผู้ขายได้ใน </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">เดี่ยวกัน แต่จะไม่สามารถทำการซื้อขายสินค้าและบริการขอผู้ใช้บริการเองได้</span></span></p>
          <p><strong>* </strong><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><u><strong>หมายเหตุ</strong></u> </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การยกเลิกการขายผู้ขาย สามารถยกเลิกได้เฉพาะรายการที่ยังไม่มีผู้เสนอราคาแล้วเท่านั้น หากมีผู้เสนอราคาแล้วจะไม่สามารถยกเลิกการขายได้ ยกเว้นแต่ผู้ซื้อจะมีการกระทำผิดเงื่อนไขของผู้ให้บริการหรือผู้ขายทำผิดเงื่อนไขของผู้ให้บริการ หากมีความเสียหายผู้ที่กระทำผิดเงือนไขอันดับแรกจะต้องเป็นผู้รับผิดชอบค่าใช้จ่ายที่เกิดขึ้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การยกเลิกการซื้อของผู้ซื้อที่ได้ทำการเสนอซื้อสำเร็จแล้วไม่สามารถยกเลิกได้ ยกเว้นผู้ขายที่มีการกระทำผิดตามเงื่อนไขของผู้ให้บริการ </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>บริการต่างๆและเงื่อนไขการให้บริการแต่ละบริการ</strong></span></span></p>
          <p>5.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ระบบซื้อขาย</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ระบบการซื้อขายผู้ซื้อและผู้ขายต้องกระทำผ่านระบบภายใน </span></span><span style="color: #0563c1;"><u><strong>www.mhaomhao.com</strong></u></span><span style="color: #0563c1;"><span style="color: #000000;"> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">เท่านั้น การเข้าใช้งานผ่านระบบ ผู้ซื้อและผู้ขายจะต้องทำการลงทะเบียนให้ครบถ้วนจึงจะสามารถเข้าใช้งานระบบได้ การใช้งานระบบซื้อขายจะต้องอยู่ภายใต้เงื่อนไขของผู้ให้บริการและทำตามขั้นตอนที่ผู้ให้บริการออกแบบไว้ให้ครบทุกขั้นตอนภายในเวลาที่ผู้ให้บริการกำหนดไว้ให้ครบถ้วนเสร็จสมบูรณ์ จึงจะมีผลต่อการซื้อขายในสัญญานั้นๆ</span></span></span></span></p>
          <p><span style="color: #0563c1;"><span style="color: #000000;"> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ซื้อหรือผู้ขายทำไม่ครบถ้วนตามขั้นตอนที่ผู้ให้บริการกำหนด หรือมีการกระทำอย่างใดอย่างหนึ่งที่เพื่อข้ามขั้นตอน หรือมีการกระทำอย่างใดอย่างหนึ่งเพื่อให้เกิดผลเป็นอื่นหรือเพื่อให้เกิดผลประโยชน์โดยไม่เป็นธรรมต่อผู้ซื้อหรือผู้ขายหรือผู้ให้บริการ ให้ถือว่าสัญญาหรือการเสนอราคาครั้งนั้นเป็น </span></span></span><span style="color: #000000;"><strong>โมฆะ</strong></span></span></p>
          <p>5.1.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อที่สามารถจะทำการซื้อสินค้าภายในระบบได้จะต้องทำการวางเงินค้ำประกันในการซื้อก่อนจึงจะสามารถทำการเสนอราคาได้ โดยใช้อัตรา </span></span>1 : 10 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">คือวางเงินคำประกัน </span></span>1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">บาทสามารถเสนอราคาในทุกสัญญารวมกันแล้วไม่เกิน </span></span>10 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">บาท</span></span></p>
          <p><br> </p>
          <p>5.1.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขาย</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขายที่สามารถจะทำการขายสินค้าภายในระบบได้จะต้องทำการวางเงินค้ำประกันในการขายก่อนจึงจะสามารถทำการเปิดประมูลได้ โดยใช้อัตรา </span></span>1 : 10 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">คือวางเงินคำประกัน </span></span>1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">บาทสามารถกำหนดราคาเปิดประมูลในทุกสัญญารวมกันแล้วไม่เกิน </span></span>10 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">บาท</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ข้อมูลทุกอย่างที่ผู้ขายลงตามขั้นตอนการเปิดประมูลให้ถือว่าเป็นความรับผิดชอบของผู้ขาย หากมีการทำการซื้อขายสำเร็จแล้วข้อเท็จจริงในการรับสินค้าไม่ตรงตามข้อมูลที่แจ้งไว้ ผู้ขายจะต้องเป็นผู้รับผิดชอบในการกระทำที่เกิดขึ้นทั้งทางแพ่งและอาญา และให้ถือว่าการซื้อขายครั้งนั้นเป็น <strong>โมฆะ</strong> คือ ผู้ซื้อจะได้รับเงินคืนพร้อมกับค่ามัดจำของผู้ขายในรายการนั้น หักลบกับค่าดำเนินการ ถ้ามีค่าดำเนินการเกินขึ้น เช่น ค่าโอนเงิน</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ค่าใช้ข่ายในการติดต่อสื่อสาร</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การดำเนินการต่างๆ</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ค่าธรรมเนียมต่างๆ ทั้งนี้ขึ้นอยู่กับผู้ให้บริการเป็นผู้ตัดสินตามข้อเท็จจริง <u><strong>ยกเว้นแต่</strong></u> กรณีนี้ผู้ซื้อและผู้ขายยินดีพร้อมใจยอมรับที่จะรับและส่งสินค้าด้วยกันทั้งสองฝ่ายทั้งที่ข้อเท็จจริงในการรับสินค้าไม่ตรงตามข้อมูลที่แจ้งไว้ ให้ทำตามขั้นตอนการรับส่งสินค้าตามปกติ การแสดงว่าทั้งสองฝ่ายยินดีพร้อมใจยอมรับที่จะรับและส่งสินค้าด้วยกันทั้งที่ข้อเท็จจริงในการรับสินค้าไม่ตรงตามข้อมูลที่แจ้งไว้ ทั้งสองฝ่ายจะต้องทำรายการยืนยันตามขั้นตอนของระบบตามที่ผู้ให้บริการกำหนดไว้ให้ครบกระบวนการรับส่งสินค้าจนสำเร็จเสร็จสิ้น</span></span></p>
          <p>5.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ระบบรับส่งสินค้า</span></span></p>
          <p>5.2.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อ</span></span></p>
          <p><br> </p>
          <p>5.2.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขาย</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ขายกระทำผิดสัญญา เช่น มีการขายสินค้าให้กับบุคคลอื่นก่อนหน้าที่ผู้ชนะการประมูลจะรับสินค้า </span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกระทำที่ทำให้สินค้าไม่ตรงกับข้อมูลที่แจ้งไว้ในตอนเปิดประมูล </span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือเกิดความเสียหายจากภัยพิบัติหรืออุบัติเหตุต่างๆก่อนหน้าที่จะทำการส่งสินค้า ผู้ขายจะต้องเป็นผู้รับผิดชอบทั้งหมด คือ จะถูกหักเงินคำประกันการเปิดประมูลของสัญญานั้นๆให้แก่ผู้ชนะการประมูล หากเป็นเหตุเกิดจากภัยพิบัติหรืออุบัติผู้ให้บริการจะยกเว้นโทษให้เนื่องจากเป็นการกระทำโดยไม่เจตนา แต่ถ้าหากเหตุนั้นเกิดจากการกระทำต่างๆนอกเหนือจากภัยพิบัติหรืออุบัติเหตุผู้ขายจะถูกลงโทษจากผู้ให้บริการ</span></span></p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การจ่ายเงินและรับเงิน</strong></span></span></p>
          <p>6.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การจ่ายเงิน</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การจ่ายเงินของผู้ใช้บริการ </span></span>.............. <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ให้บริการขอสงวนสิทธิในการดำเนินการให้เฉพาะผู้ใช้บริการที่แจ้งข้อมูลต่อผู้ให้บริการที่ครบถ้วนเท่านั้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ซื้อไม่สามารถทำตามขั้นตอนการจ่ายเงินหลังจากเป็นผู้ชนะการประมูลจนครบเสร็จสิ้นกระบวนการจ่ายเงินแล้ว ผู้ซื้อจะต้องเป็นผู้รับผิดชอบในการกระทำที่เกิดขึ้นทั้งทางแพ่งและอาญา คือ ผู้ขายจะได้รับเงินคืนพร้อมกับค่ามัดจำของผู้ซื้อในรายการนั้น หักลบกับค่าดำเนินการ ถ้ามีค่าดำเนินการเกินขึ้นเช่น ค่าโอนเงิน</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ค่าใช้ข่ายในการติดต่อสื่อสาร</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ค่าธรรมเนียมต่างๆ ทั้งนี้ขึ้นอยู่กับผู้ให้บริการเป็นผู้ตัดสินตามข้อเท็จจริง และผู้ซื้อจะถูกผู้ให้บริการลงโทษ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ซื้อที่ชนะการประมูลในอันดับที่</span></span>1<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผิดสัญญา สิทธิจะตกไปสู้ผู้ซื้อที่ชนะการประมูลอันดับ </span></span>2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ซื้ออันดับถัดไปไม่ต้องการใช้สิทธิ สิทธิจะตกกับผู้ซื้อที่ชนะการประมูลอันดับ </span></span>3 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">กรณีที่ผู้ซื้อที่ชนะการประมูลไม่ใช่ผู้ซื้อที่ชนะการประมูลอันดับแรกมีการสละสิทธิจะไม่ต้องรับผิดชอบความเสียหายในการสละสิทธิขณะที่การซื้อขายครั้งนั้นอยู่ระหว่างการชำระเงิน แต่ถ้าหากผ่านกระบวนการชำระเงินจนเสร็จสินครบกระบวนการแล้ว มีความเสียหากเกิดขึ้นที่เกิดจากผู้ซื้อ ผู้ซื้อที่ชำระเงินเสร็จสินครบกระบวนการแล้วนั้นจะต้องเป็นผู้รับผิดชอบในส่วนนั้นโดยไม่สามารถปฏิเสธได้</span></span></p>
          <p><br> </p>
          <p><br> </p>
          <p>6.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การรับเงิน</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การรับเงินของผู้ใช้บริการ ผู้ให้บริการจะโอนเงินหรือจ่ายเช็คเข้าบัญชีที่มีชื่อตรงกับผู้ใช้บริการเท่านั้น ระยะเวลาที่เงินจะเข้าบัญชีผู้ใช้บริการขึ้นอยู่กับกระบวนการทำการของธนาคาร ผู้ให้บริการขอสงวนสิทธิในการดำเนินการให้เฉพาะผู้ใช้บริการที่แจ้งข้อมูลต่อผู้ให้บริการที่ครบถ้วนเท่านั้น</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขายจะได้รับเงินจากผู้ซื้อที่ชนะการประมูล ต่อเมือมีการส่งสินค้าโดยทำตามระบบอย่างครบถ้วนเสร็จสมบูรณ์แล้วเท่านั้น โดยเงินที่ผู้ขายจะได้รับจะถูกหักค่าธรรมเนียมและค่าใช้จ่ายเพิ่มเติมต่างๆผ่านระบบถ้ามีการขอรับการใช้งานที่เกิดขึ้นตามความเป็นจริง บวกกับเงินคำประกันของการเปิดประมูลในนั้นสัญญานั้นๆ ส่วนที่เหลือของเงินค้ำประกันนอกจากของสัญญานั้นๆจะยังคงอยู่ในระบบ หากไม่ได้ใช้งานหรือมีความต้องการจะถอนสามารถติดต่อเจ้าหน้าที่ได้ตามช่องทางที่ผู้ให้บริการกำหนด</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการสามารถแจ้งต่อผู้ให้บริการเพื่อขอคืนเงินค้ำประกันที่ค้างอยู่ในระบบได้ ผู้ให้บริการจะทำการโอนเงินคืนผู้ใช้บริการโยเร็วที่สุดหลังจากได้รับการร้องขอ</span></span></p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การดำเนินการกรณีพบข้อผิดพลาด</strong></span></span></p>
          <p>7.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากมีข้อผิดพลาดเกิดขึ้นในการทำรายการต่างๆของผู้ใช้บริการ ให้ผู้ใช้บริการทำการแจ้งต่อผู้ให้บริการโดยด่วน</span></span>(<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ทันทีที่เกิดเหตุ</span></span>)<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผ่านช่องทางต่างๆที่ผู้ให้บริการกำหนดไว้ การแก้ไขของผิดพลาดต่างๆจะทำการแก้ไขโดยคำนึงถึงข้อกำหนดและเงื่อนไขทั้งหมด </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ขอบข่ายความรับผิดชอบของผู้ใช้บริการ และผู้ให้บริการ</strong></span></span></p>
          <p>8.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ความรับผิดชอบของผู้ใช้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกรอกรหัส</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกดยืนยันรหัสที่กรอก</span></span>,<span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">และ การกดปุ่มยืนยันของผู้ใช้บริการทุกครั้งมีค่าเท่ากับการยืนยันตัวตนว่าผู้ใช้บริการคือบุคคลผู้ได้รับบริการนั้นๆด้วยตนเอง และผู้ใช้บริการต้องรับผิดชอบต่อการกระทำของตนเองทุกครั้งทั้งทางแพ่งและอาญา ตามความเสียหายที่เกิดขึ้นจริง จากการกระทำนั้นๆ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากถูกบุคคลอื่นทำการเข้าสู่ระบบด้วย </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ของผู้ใช้บริการโดยที่ผู้ใช้บริการรับรู้หรือไม่ก็ตาม ทางผู้ให้บริการจะถือว่า การเช้าสู่ระบบและใช้บริการต่างๆนั้น คือผู้ใช้บริการที่เป็นเจ้าของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นเข้ารับบริการด้วยตนเอง หากเกิดความเสียหายใดๆ ผู้ใช้บริการที่เป็นเจ้าของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นจะต้องรับผิดชอบความเสียหายที่เกิดขึ้นทั้งหมดทั้งทางแพ่งและอาญา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกระทำการใดๆที่เกิดก่อนที่ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นถูกระงับ ถือว่า ผู้ใช้บริการผู้เป็นเจ้าของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">นั้นเป็นผู้กระทำเองและต้องเป็นผู้รับผิดชอบทุกกรณี </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การกระทำใดๆอันเป็นผลให้เกิดความเสียหายต่อผู้ให้บริการ ผู้ให้บริการจะทำการฟ้องร้องทั้งทางแพ่งและอาญาต่อผู้สร้างความเสียหายนั้น รวมถึงการลักรอบเข้าถึงข้อมูลที่ไม่ได้รับอนุญาตจากผู้ให้บริการไม่ว่าผู้นั้นจะเป็นบุคคลใดก็ตาม</span></span></p>
          <p><br> </p>
          <p>8.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ความรับผิดชอบของผู้ให้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ให้บริการมีหน้าที่รับผิดชอบระบบและความผิดพลาดอันเกิดจากระบบการทำงานที่เกิดจากระบบการทำงานผิดพลาดจริง มิใช่จากการกระทำของผู้ไม่หวังดีที่มุ่งประสงค์ร้ายและทำสำเร็จจนเป็นเหตุให้เกิดความเสียหายเช่น การปลอมเอกสารต่างๆของผู้ใช้บริการและมีผู้หลงเชื่อ ผู้หลงเชื่อนั้นไม่สามารถเรียกร้องค่าเสียหายใดๆกับผู้ให้บริการได้ และเหตุอื่นๆอันมากจากผู้ประสงค์ร้าย </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การบันทึกและเปิดเผยข้อมูล</strong></span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการทุกท่านจำเป็นต้องใช้ข้อมูลจริงในการลงทะเบียนขอเข้ารับการให้บริการ และใช้บัญชีธนาคารที่มีชื่อตรงกับผู้ใช้บริการเท่านั้นในการทำธุรกรรมต่างๆกับผู้ให้บริการ</span></span></p>
          <p>9.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ซื้อ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ข้อมูลทุกอย่างที่ผู้ซื้อแจ้งต่อผู้ให้บริการ ต้องเป็นข้อมูลที่เป็นจริงเท่านั้น หากผู้ให้บริการตรวจพบแล้วยังไม่มีความเสียหายเกิดขึ้น ผู้ให้บริการมีสิทธิที่จะระงับการให้บริการแก่ผู้ซื้อรายนั้นๆ หากมีความเสียหายเกิดขึ้นผู้ให้บริการจะทำการดำเนินคดีตามที่กฎหมายกำหนดทั้งทางแพ่งและอาญา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ซื้อทำการแจ้งข้อมูลอันเป็นเท็จ ให้ถือว่าผู้ซื้อจะต้องเป็นผู้รับผิดชอบในทุกกรณีต่อผู้ขายและผู้ให้บริการทั้งทางแพ่งและอาญา หากมีความเสียหากผู้ซื้อที่ทำการแจ้งข้อมูลอันเป็นเท็จจะต้องเป็นผู้รับผิดชอบในทุกกรณี</span></span></p>
          <p>9.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ขาย</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ข้อมูลทุกอย่างที่ผู้ขายแจ้งต่อผู้ให้บริการ ต้องเป็นข้อมูลที่เป็นจริงเท่านั้น หากผู้ให้บริการตรวจพบแล้วยังไม่มีความเสียหายเกิดขึ้น ผู้ให้บริการมีสิทธิที่จะระงับการให้บริการแก่ผู้ขายรายนั้นๆ หากมีความเสียหายเกิดขึ้นผู้ให้บริการจะทำการดำเนินคดีตามที่กฎหมายกำหนดทั้งทางแพ่งและอาญา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากผู้ขายทำการแจ้งข้อมูลอันเป็นเท็จ ให้ถือว่าผู้ขายจะต้องเป็นผู้รับผิดชอบในทุกกรณีต่อผู้ซื้อและผู้ให้บริการทั้งทางแพ่งและอาญา หากมีความเสียหากผู้ขายที่ทำการแจ้งข้อมูลอันเป็นเท็จจะต้องเป็นผู้รับผิดชอบในทุกกรณี</span></span></p>
          <p>9.3 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ให้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ข้อมูลทั้งหมดในทุกกระบวกถือเป็นทรัพย์สินของผู้ให้บริการ ผู้ให้บริการมีสิทธิที่จะนำไปใช้ได้ตลอดเวลา เช่น ข้อมูลไปจัดทำการวิเคราะห์เพื่อประโยชน์ของผู้ให้บริการ <span style="color: #222222;">ฯลฯ </span>บุคคลใดนำข้อมูลทั้งหมดไปใช้งานโดยไม่ได้รับอนุญาต ผู้ให้บริการจะทำการดำเนินคดีทั้งทางแพ่งและอาญา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ยกเว้นชื่อ &ndash; นามสกุลและเลขรหัสบัตรประชาชนของผู้ใช้บริการ ชื่อ &ndash; นามสกุลและเลขรหัสบัตรประชาชนของผู้ใช้บริการให้ถือเป็นสิทธิส่วนบุคคลของผู้ใช้บริการแต่ละคน</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ให้บริการมีสิทธิที่จะเปิดเผยข้อมูลส่วนบุคคลของผู้ใช้บริการต่อเจ้าหน้าที่รัฐ หากเกิดข้อพิพากษ์และต้องมีการร้องขออย่างมีเหตุมีผล เช่น มีหมายศาล หรือ เกิดคดีความขึ้น</span></span></p>
          <p><br> </p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>ข้อมูลการติดต่อและการส่งคำบอกกล่าว</strong></span></span></p>
          <p>10.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการสามารถติดต่อและส่งคำบอกกล่าวในเรื่องต่างๆให้กับผู้ให้บริการได้ ผ่านทาง </span></span><span style="color: #0563c1;"><u><strong><a href="http://www.mhaomhao.com/">www.mhaomhao.com</a> </strong></u></span><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><span style="color: #0563c1;"><span style="color: #000000;">และช่องทางอื่นๆที่ผู้ให้บริการเปิดรับ</span>(ถ้ามี)</span></span></span></p>
          <p>10.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การส่งเอกสารที่เป็นธุรกรรมด้านการเงิน ผู้ใช้บริการจะต้องส่งผ่าน </span></span><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ใน<span style="color: #0563c1;"><span style="color: #000000;">หัวข้อ แจ้งโอนเท่านั้น และผู้ใช้บริการจะต้องกรอกข้อมูลให้ครบถ้วน ผู้ใช้บริการจำจะทำรายการต่อไปให้</span></span></span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>บทลงโทษต่างๆ ของการผิดสัญญาการซื้อขาย หรือ เงื่อนไขต่างๆภายใน </strong></span></span><span style="color: #0563c1;"><u><a href="http://www.mhaomhao.com/"><strong>www.mhaomhao.com</strong></a></u></span></p>
          <p>11.1 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การระงับการใช้</strong>งานของผู้ใช้บริการที่ถูกลงโทษ เป็นระยะเวลา </span></span>15 , 30 , 45 , 60 , 90 , 180 , 365 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">วัน หรือมากกว่า ทั้งนี้ขั้นอยู่กับการพิจารณาของผู้ให้บริการ </span></span></p>
          <p>11.2 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การเพิ่มอันตราการว่างเงินค้ำประกัน</strong>ของผู้ใช้บริการที่ถูกลงโทษ ในอันตราที่มากขึ้นจากเดิม เช่น </span></span><span style="font-family: 'Cordia New', serif;">1:5 , 1:2 , 1:1</span> <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ทั้งนี้ขั้นอยู่กับการพิจารณาของผู้ให้บริการ</span></span></p>
          <p>11.3 <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>การยกเลิกการใช้งาน</strong>ของผู้ใช้บริการที่ถูกลงโทษ โดยการยกเลิกการใช้งานนี้จะรวมถึงการนำเลขบัตรประชาชน และชื่อนามสกุลของผู้ใช้บริการนั้น จะไม่สามารถนำมาใช้งานหรือทำธุรกรรมกับผู้ให้บริการได้อีกต่อไป ทั้งนี้ขั้นอยู่กับการพิจารณาของผู้ให้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการที่ถูกลงโทษอาจจะโดนบทลงโทษหลายข้อในเวลาเดี่ยวกันก็ได้ ขึ้นอยู่กับการพิจารณาของผู้ให้บริการ</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากเกิดคดีความขึ้นผู้ใช้บริการอาจจะถูกลงโทษจากผู้ให้บริการก่อนที่คดีความจะได้ข้อตัดสินจากศาลที่เป็นที่สินสุด</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการที่ถูกพิจารณาและถูกลงโทษแล้วจะไม่สามารถเรียกร้องการชดเชยสิ่งใดย้อนหลังจากทางผู้ให้บริการได้</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">การพิจารณาของผู้ให้บริการถือเป็นที่สินสุด บทลงโทษต่างๆนี้ไม่มีผลทางกฎหมาย มีผลเพียงแต่กับการขอเข้ารับการใช้งานและการทำธุรกรรมต่างๆกับผู้ให้บริการเท่านั้น ผู้ใช้บริการขอสงวนสิทธ์ในการเปลี่ยนแปลงใดๆ หากมีการเปลี่ยนแปลงใดขึ้น ให้ขึ้นอยู่กับผู้ให้บริการจะเป็นผู้กำหนดและเปลี่ยนแปลงบทลงโทษนี้เท่านั้น </span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>กฎหมายที่ใช้บังคับ</strong></span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ข้อกำหนดและเงื่อนไขการใช้บริการนี้ให้ใช้บังคับและตีความตามกฎหมายไทย และให้ศาลไทยเป็นศาลที่มีเขตอำนาจในการพิจารณาข้อพิพาทที่หาข้อสรุปไม่ได้ที่เกิดขึ้นเกี่ยวกับการใช้บริการตามข้อกำหนดและเงื่อนไขการใช้บริการนี้</span></span></p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN"><strong>คำแนะนำก่อนใช้บริการ</strong></span></span></p>
          <p><br> </p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หากเครื่องมือหรืออุปกรณ์เพื่อการเข้ารับบริการชำรุดจนเป็นอาจเหตุให้ ถ้าเข้ารับบริการแล้วอาจเกิดความเสียหายโดยผู้ใช้บริการไม่ตั้งใจ ผู้ใช้งานสามารถติดต่อกับบริษัทผ่านช่องทางต่างๆที่บริษัทได้กำหนดไว้ เพื่อทำการระงับการใช้งานของ </span></span>Login Name <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">หรือ </span></span>Username <span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ชั่วคราว โดยดำเนินการตามวิธีการและเงื่อนไขตามที่บริษัทได้กำหนดไว้</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ผู้ใช้บริการทุกท่านจำเป็นต้องใช้ข้อมูลจริงในการลงทะเบียนขอเข้ารับการให้บริการ และใช้บัญชีธนาคารที่มีชื่อตรงกับผู้ใช้บริการเท่านั้นในการทำธุรกรรมต่างๆกับผู้ให้บริการเพื่อความปลอดภัยในการดำเนินงานและตรวจสอบย้อนหลังหากเกิดปัญหา</span></span></p>
          <p><span style="font-family: 'Lohit Devanagari';"><span lang="hi-IN">ก่อนการเสนอราคาทุกครั้งผู้ซื้อควรติดต่อผู้ขายเพื่อขอเข้าชมสถานที่จริงก่อนจะทำการเสนอราคา เพื่อผลประโยชน์ของตัวท่านเอง</span></span></p>
          <p><br> </p>
          </p>
        </div>
      </section>
    </a-card>
  </base-container>
</template>

<script>
export default {
  name: 'PolicyPage',
  layout: 'gray-background',
  data () {
    return {
      contentBody: `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.`
    }
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.f-s-1-4 {
  font-size: 1.4rem;
}
.policy {
  &__container {
    margin: 21px 0;
    @media only screen and (min-width: 480px) {
      min-height: 576px;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 10px;
    .end-line();
  }
  &__content {
    padding: 0 33px;
  }
}
</style>
