<template>
  <div id="graphSection">
    <base-container>
      <div class="header" style="text-align: center;">
        <h1 style="text-align: center; font-weight: 500; font-size: 40px;">
          ตลาดซื้อขายผลไม้ล่วงหน้าแบบเหมาสวน
        </h1>
        <h2 style="margin-top: 0px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">
          เชิญเกษตรกรผู้ปลูกผลไม้ต่างร่วมกันลงสินค้าและ เชิญพ่อค้าทุกท่านเข้าร่วมชมและเสนอราคาสินค้าต่อเกษตรกร
        </h2>
        <div class="example">
          <img src="@/assets/images/example.jpg" class="ex-img">
        </div>
        <!-- <h2 style="margin-top: -10px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">
          สเปกหมวยโอเพ่น แซวติ๋มแรลลี่อาว์ดีพาร์ตเมนต์ แพ็คไงมิลค์บ็อกซ์ล็อต
        </h2> -->
        <a-button type="primary" style="margin-top: 24px;" @click="$router.push('/auction')">
          เสนอราคา/ขายสินค้า
        </a-button>
      </div>
    </base-container>
  </div>
</template>

<script>
// import BarChart from './bar-chart.js'
// import LineChart from './line-chart.js'
export default {
  components: {
    // BarChart,
    // LineChart
  }
}
</script>

<style lang="scss" scoped>
#graphSection {
  padding-top: 80px;
  padding-bottom: 50px;
}
h1 {
  padding-bottom: 16px;
}
.card-title {
  padding-top: 20px;
  > .title {
    padding-left: 8px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }
  .seperator {
    margin-bottom: 2px;
  }
  > .index {
    padding-left: 8px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
  }
  > .plus {
    margin-left: 16px;
    font-size: 16px;
    color: green;
  }
  > .minus {
    margin-left: 16px;
    font-size: 16px;
    color: red;
  }
  > .time {
    padding-left: 8px;
    font-size: 14px;
    color: #a3a3a3;
  }
}
.card-options {
  margin-top: -8px;
  padding-bottom: 24px;
  .menu-item {
    font-size: 12px;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.mg-t-16px {
  margin-top: 16px;
}
.mg-bt-56px {
  margin-bottom: 56px;
}

.example {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.ex-img {
  max-width:100%;
  max-height:100%;
}
</style>
